.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    display: flex;
    align-items: flex-end;
    align-self: stretch;
    overflow: auto;
    gap: 2px;
    padding: 0;
    margin: 0;
  }

  &__tab {
    width: 180px;
    display: flex;
    padding: 4px 4px 4px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 8px 8px 0px 0px;
    background: var(--gmv-secondary-gray);
    cursor: pointer;

    &:hover {
      background-color: var(--gmv-secondary-black);
    }
    
    &:not(&--selected) {
      // REVIEW does not match design (set Y offset to -16px instead of -8px and 
      // spread to 0px instead of -16px to actually see the shadow)
      box-shadow: 0px -16px 8px 0px rgba(134, 0, 21, 0.07) inset;
      
      .css-piia8t{
        color: var(--gmv-text-gray);
      }
      .icon {
        color: var(--gmv-text-gray);
      }
      
      &:hover {
        .css-piia8t{
          color: var(--gmv-primary-white);
        }
        .icon {
          color: var(--gmv-primary-white);
        }
      }
    }

    &--selected {
      background-color:var(--gmv-text-black);
      
      .css-piia8t{
        color: var(--common-black);
      }
      .icon {
        color: var(--common-black);
      }

      &:hover {
        .css-piia8t{
          color: var(--gmv-primary-white);
        }
        .icon {
          color: var(--gmv-primary-white);
        }
      }
    }

    .css-piia8t:hover {
      background-color:var(--action-hover);
      border-radius: 50%;
    }
    
    &--disabled {
      /* REVIEW add disabled styles */
      color: GrayText;
      cursor: default;
    }

    &:focus {
      outline: none;
    }
    
  }

  &__tab-panel {
    position: relative;
    background: var(--gmv-secondary-gray);
    // NOTE use the whole viewport and substract (1) header's height, (2) main
    // content's top padding, (3) tab bar height, and (4) main content's bottom
    // padding
    height: calc(100vh - 64px - 16px - 36px - 24px);

    display: none;

    &--selected {
      display: block;
    }
  }
}
