.flexlayout__layout, .flexlayout__floating_window_content {
  --font-family: inherit;
  --font-size: 9px;

  --color-background: var(--gmv-secondary-black);
  --color-icon: var(--gmv-primary-white);
  --color-text: var(--foreground-primary);
  --color-overflow: var(--foreground-primary);

  --color-tabset-background: var(--gmv-text-black);
  --color-tabset-background-selected: var(--gmv-secondary-black);
  --color-tabset-background-maximized: var(--gmv-secondary-black);
  --color-tabset-divider-line: var(--gmv-secondary-black);

  --color-tab-unselected-background: var(--gmv-secondary-gray);
  --color-tab-unselected: var(--gmv-text-gray);

  --color-tab-selected-background: var(--gmv-secondary-black);
  --color-tab-selected: var(--gmv-text-white);

  --color-splitter: var(--gmv-secondary-gray);
  --color-splitter-hover: var(--gmv-secondary-gray);
  --color-splitter-drag: var(--gmv-secondary-gray);

  --color-popup-border: var(--gmv-secondary-black);
  --color-popup-unselected: var(--foreground-primary);
  --color-popup-unselected-background: var(--gmv-secondary-black);
}

/* popup menu */
.flexlayout__popup_menu_container {
  color: var(--gmv-primary-white);
  padding: 8px 0px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 5px 5px -3px rgba(0, 0, 0, 0.20);
}

.flexlayout__popup_menu_item {
  padding: 6px 16px;

  &:hover {
    background-color: var(--gmv-secondary-gray);
  }
}

/* tabset */

.flexlayout__tabset_tabbar_inner_tab_container_top {
  border-top: 0px;
}

.flexlayout__tabset_tabbar_inner_tab_container {
  padding: 0px 0px 1px 0px;
}

.flexlayout__tabset_tabbar_outer_top {
  border-bottom: 0px;
}

.flexlayout__tabset {
  border-radius: 8px;

  .flexlayout__tab_toolbar svg, .flexlayout__tab_toolbar button {
    color: var(--common-black);
  }
  .flexlayout__tabset-selected {
    .flexlayout__tab_toolbar svg, .flexlayout__tab_toolbar button {
      color: var(--gmv-primary-white);
    }
  }
}

.flexlayout__tabset_tab_divider {
  width: 1px;
}

.flexlayout__tabset_content {
  background-color: var(--color-background);
  border-radius: 0px 0px 8px 8px;
}

/* tab */

.flexlayout__tab {
  border-radius: 0px 0px 8px 8px;
}

.flexlayout__tab_button {
  min-width: 132px;
  justify-content: space-between;

  &--unselected{
    color: var(--color-tab-unselected);
  }

  &:only-child {
    // background: transparent;

    .flexlayout__tab_button_trailing {
      display: none
    }
  }
}

.flexlayout__tab_toolbar_button:hover {
  background-color: var(--action-hover);
}

.flexlayout__tab_button_trailing {
  visibility: visible;
  &:hover {
    background-color:var(--action-hover);
  }
}
