body {
  // GMV colors
  --gmv-primary-red: #DF0024;
  --gmv-primary-black: #191919;
  --gmv-primary-white: #F6F6F6;

  --gmv-secondary-red: #860015;
  --gmv-secondary-black: #252525;
  --gmv-secondary-gray: #373737;

  --gmv-other-yellow: #F9B235;
  --gmv-other-orange: #FA6400;
  --gmv-other-green: #21CB38;
  
  --gmv-text-white: #F6F6F6;
  --gmv-text-gray: #999999;
  --gmv-text-black: #434343;
  --gmv-text-red: #DF0024;

  // Red radix colors
  --common-black: #000000;
  --common-white: #FFFFFF;
  --common-clear: #FFFFFF0;

  --primary-main: #0054B6;
  --primary-light: #5D96E2;
  --primary-dark: #003480;

  --secondary-main: #1A8EA1;
  --secondary-light: #4DCDC6;
  --secondary-dark: #136977;

  --grey-50: #F9FAFA;
  --grey-100: #F4F5F6;
  --grey-200: #ECEEEF;
  --grey-300: #DEE2E3;
  --grey-400: #B7C0C2;
  --grey-500: #96A2A6;
  --grey-600: #6C7A7F;
  --grey-700: #596569;
  --grey-800: #3D4548;
  --grey-900: #001026;
  --grey-a100: #D3D8D9;
  --grey-a200: #A4AEB2;
  --grey-a400: #596569;
  --grey-a700: #2D3334;

  /* common aliases */
  /* IDEA use base color variables */
  --foreground-primary: #001026DE;
  --foreground-contrast-primary: #FFFFFFde;
  --foreground-secondary: #00102699;
  --foreground-contrast-secondary: #FFFFFF99;
  --foreground-disabled: #00102661;
  --foreground-contrast-disabled: #FFFFFF61;

  --background-header: #001026;
  --background-bar-dark: #001D47;
  --background-bar-medium: #323353;
  --background-default: #F9FAFA;
  --background-light: #FFFFFF7a;
  --background-paper: #FFFFFF;

  --action-active: #0054B647;
  --action-contrast-active: #FFFFFF7a;
  --action-hover: #F6F6F614;
  --action-contrast-hover: #FFFFFF14;
  --action-selected: #0054B629;
  --action-contrast-selected: #FFFFFF29;
  --action-disabled: #00000042;
  --action-contrast-disabled: #FFFFFF42;

  --other-divider: #0000001F;
  --other-outlined-border: #0000003B;
  --other-backdrop-overlay: #00000080;
  --other-filled-input-background: #00000017;
  --other-standard-input-line: #0000006B;
  --other-snackbar: #2D3334;

  /* status & severity */
  --critical-main: #E31B0C;
  --critical-light: #F88078;
  --critical-dark: #BA1408;

  --serious-main: #ED6C02;
  --serious-light: #FFB547;
  --serious-dark: #BB5A00;

  --caution-main: #FBE20E;
  --caution-light: #FDF082;
  --caution-dark: #B4A203;
  --caution-contrast-text: #00000099;

  --normal-main: #4CAF50;
  --normal-light: #7BC67E;
  --normal-dark: #3B873E;

  --standby-main: #2196F3;
  --standby-light: #64B6F7;
  --standby-dark: #0B79D0;

  --off-main: #9EA7AD;
  --off-light: #D6D9DC;
  --off-dark: #6A7177;
}
